import(SparseM)
import(quantreg)
import(nlme)

export(connectedSets)
export(date2jul1)
export(date2jul2)
export(daylength)
export(daysbetween)
export(getConnectedSets)
export(jul2date1)
export(jul2date2)
export(leapyear)
export(matrix2raw)
export(maxConnectedSet)
export(maxdaylength)
export(pheno.ddm)
export(pheno.flm.fit)
export(pheno.lad.fit)
export(pheno.mlm.fit)
export(raw2matrix)
export(tau)
export(seqMK)

useDynLib(pheno,Cdate2jul1,Cdate2jul2,Cdaysbetween,Cdaylength,Cjul2date1,Cjul2date2,Cleapyear,Cmaxdaylength,Cconnectivity)